---
title: "Games Played at the Club | Leeds Night Owls Wargames Club"
description: "Games played by members at Leeds Night Owls Wargames Club"
layout: page
---

<h1>Games Played at Night Owls</h1>
<p>Quite a wide range of games are played at the club. The club does <em>not</em> dictate what games members are able to play.</p>
<h2>The Games</h2>
<p>The following games have been played at the club over the last few months just to give you an idea of the games that are typically played. If a game is not in the list below, that does not mean that the game cannot be played. It just means that it hasn't been played. Again, the club is not at all prescriptive of the games people play.</p>
<p>This is not an exhaustive list, but covers the most popular ones.</p>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/games/bolt-action/">
          <img src="/img/bolt-action-logo-small.png" alt="Bolt Action" style="width:100%">
        </a>
        <div class="caption">
          <p>Bolt Action is a very popular World War 2 skirmish game and has been a regular at the club for many years with most members being familiar with the rules.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/flames-of-war-logo-small.png" alt="Flames of War" style="width:100%">
        <div class="caption">
          <p>Another popular World War 2 ruleset at the club. Its popularity waxes and wains but it has a reasonably good following at the club.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/eisenhower-front-cover-small.png" alt="Eisenhower Front Cover" style="width:100%">
        <div class="caption">
          <p>An operational level World War 2 ruleset released in October 2024 by Sam Mustafa. It was one of the Night Owls demonstration games at FIASCO 2024.</p>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/mtg.jpg" alt="Magic the Gathering Logo" style="width:100%">
        <div class="caption">
          <p>Magic the Gathering is a very popular card game that has quite a following at Night Owls. It is a great game to pick up when you've finished your tabletop game nearing the end of the session and want a quick game to finish off the session. A number of members have a range of decks to choose from, so you don't even need to bring your own deck with you.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/longstreet-small.png" alt="Longstreet Front Cover" style="width:100%">
        <div class="caption">
          <p>A ruleset covering the American Civil War by Sam Mustafa. A campaign is currently running at the club using this ruleset..</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/fire-and-fury-front-cover.jpg" alt="Fire and Fury Front Cover" style="width:100%">
        <div class="caption">
          <p>Another American Civil War ruleset popular with members at the club. This ruleset has been around for a long time and has stood the test of time.</p>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/team-yankee-logo.png" alt="Team Yankee Logo" style="width:100%">
        <div class="caption">
          <p>Team Yankee is named after a book of the same name, set during the mid 1980s in a Cold war gone hot scenario. Team Yankee is made by Battlefront, the makers of Flames of War. The rulesets are very similar, so if you learn one of them you can learn the other very easily.</p>
        </div>
      </div>
    </div>
</div>
