---
title: "Games Played at the Club | Leeds Night Owls Wargames Club"
description: "Games played by members at Leeds Night Owls Wargames Club"
---

<h1>Games Played at Night Owls</h1>
<p>Quite a wide range of games are played at the club. The club does <em>not</em> dictate what games members are able to play.</p>
<h2>The Games</h2>
<p>The following games have been played at the club over the last few months just to give you an idea of the games that are typically played. If a game is not in the list below, that does not mean that the game cannot be played. It just means that it hasn't been played. Again, the club is not at all prescriptive of the games people play.</p>
<p>This is not an exhaustive list, but covers the most popular ones.</p>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/img/bolt-action-logo-small.png">
          <img src="/img/bolt-action-logo-small.png" alt="Bolt Action" style="width:100%">
          <div class="caption">
            <p>Bolt Action is a very popular World War 2 skirmish game and has been a regular at the club for many years with most members being familiar with the rules.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/img/flames-of-war-logo-small.png">
          <img src="/img/flames-of-war-logo-small.png" alt="Flames of War" style="width:100%">
          <div class="caption">
            <p>Another popular World War 2 ruleset at the club. Its popularity waxes and wains but it has a reasonably good following at the club.</p>
          </div>
        </a>
      </div>
    </div>
</div>
