---
title: "Games Played at the Club | Leeds Night Owls Wargames Club"
description: "A partial list of games played by members at Leeds Night Owls Wargames Club."
layout: page
---

<h1>Games Played at Night Owls</h1>
<p>Quite a wide range of games are played at the club. The club does <em>not</em> dictate what games members are able to play.</p>
<h2>The Tabletop Games</h2>
<p>The following games have been played at the club over the last few months just to give you an idea of the games that are typically played. If a game is not in the list below, that does not mean that the game cannot be played. It just means that it hasn't been played. Again, the club is not at all prescriptive of the games people play.</p>
<p>This is not an exhaustive list, but covers the most popular ones.</p>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/games/bolt-action/">
          <img src="/img/bolt-action-logo-small.png" alt="Bolt Action" style="width:100%">
        </a>
        <div class="caption">
          <p>Bolt Action is a very popular World War 2 skirmish game and has been a regular at the club for many years with most members being familiar with the rules.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/flames-of-war-logo-small.png" alt="Flames of War" style="width:100%">
        <div class="caption">
          <p>Another popular World War 2 ruleset at the club. Its popularity waxes and wains but it has a reasonably good following at the club.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/eisenhower-front-cover-small.png" alt="Eisenhower Front Cover" style="width:100%">
        <div class="caption">
          <p>An operational level World War 2 ruleset released in October 2024 by Sam Mustafa. It was one of the Night Owls demonstration games at FIASCO 2024.</p>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/longstreet-small.png" alt="Longstreet Front Cover" style="width:100%">
        <div class="caption">
          <p>A ruleset covering the American Civil War by Sam Mustafa. A campaign is currently running at the club using this ruleset.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/fire-and-fury-front-cover.jpg" alt="Fire and Fury Front Cover" style="width:100%">
        <div class="caption">
          <p>Another American Civil War ruleset popular with members at the club. This ruleset has been around for a long time and has stood the test of time.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/team-yankee-logo.png" alt="Team Yankee Logo" style="width:100%">
        <div class="caption">
          <p>Team Yankee is named after a book of the same name, set during the mid 1980s in a Cold War gone hot scenario. Team Yankee is made by Battlefront, the makers of Flames of War. The rulesets are very similar, so if you learn one of them you can learn the other very easily.</p>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/dead-mans-hand-small.png" alt="Dead Man's Hand Rulebook Cover" style="width:100%">
        <div class="caption">
          <p>Dead Man's Hand is a western skirmish game with a very polished set of rules that makes it very easy to pick up.  Makes it the perfect club game for 2025.</p>
        </div>
      </div>
    </div>
</div>
<h2>The Board Games</h2>
<p>The board games are typically played on the <em>everybody gets a game</em> table but, you can play them whenever you want.</p>
<p>Here's a small sample of the games regularly played at the club.</p>
<div class="row">
   <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/mtg.jpg" alt="Magic the Gathering Logo" style="width:100%">
        <div class="caption">
          <p>Magic the Gathering is a very popular card game that has quite a following at Night Owls. It is a great game to pick up when you've finished your tabletop game nearing the end of the session and want a quick game to finish off the session. A number of members have a range of decks to choose from, so you don't even need to bring your own deck with you.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/catan-small.png" alt="Catan Box Art" style="width:100%">
        <div class="caption">
          <p>A very famous board game with many fans at the club.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/fallout-shelter-small.png" alt="Fallout Shelter Board Game Art" style="width:100%">
        <div class="caption">
          <p>A board game based upon the very popular computer game of the same name.</p>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/little-dead-riding-hood-small.png" alt="Little Dead Riding Hood Box Art" style="width:100%">
        <div class="caption">
          <p>A zombie themed board game.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/robber-knights-small.png" alt="Robber knights Front Cover" style="width:100%">
        <div class="caption">
          <p>Another classic board game.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/ticket-to-ride-small.png" alt="Ticket to Ride Front Cover" style="width:100%">
        <div class="caption">
          <p>The grandaddy of all European style board games and a stone cold classic.</p>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/tzuro-small.png" alt="Tzuro Box Art" style="width:100%">
        <div class="caption">
          <p>A beautiful and fun tile classic.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/img/braggart-small.png" alt="Braggart Box Cover Art" style="width:100%">
        <div class="caption">
          <p>Braggart is a great fun quick game best with at least three or four participants.</p>
        </div>
      </div>
    </div>
</div>
<h2>The Honourable Mentions</h2>
<p>You won't see the following games every week at the club, but they do have a following.</p>
<ul>
<li>Warmaster</li>
<li>Legions Imperialis</li>
<li>Marvel</li>
<li>Horus Heresy 30K</li>
<li>Bloodbowl</li>
<li>Pulp Alley</li>
<li>One Page Rules</li>
<li>Necromunda</li>
</ul>
