---
title: Battle Reports
layout: page
eleventyNavigation:
  key: Battle Reports
  parent: Games
  order: 13
---

<h1>Battle Reports at Leeds Night Owls</h1>
<p>A few of the more notable games played at Night Owls that members have been kind enough to write up to give a flavour for the tabletop wargaming we do at the club.</p>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/battle-reports/big-warmaster-game/">
          <img src="/battle-reports/big-warmaster-game/images/FB_IMG_1772481630149.jpg" alt="The castle prior to the undead assault." class="img-fluid">
        </a>
        <div class="caption">
          <p>Big Warmaster Game</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/battle-reports/castle-assault-scenario/">
          <img src="/battle-reports/castle-assault-scenario/images/FB_IMG_1773842372914.jpg" alt="The castle prior to the undead assault." class="img-fluid">
        </a>
        <div class="caption">
          <p>Tomb King Ey-ap Storms the Elven Castle of Limeswold</p>
        </div>
      </div>
    </div>
</div>
