---
layout: page
---

{{ content | safe }}

<div class="d-flex flex-wrap gap-2 mt-3">
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="badge rounded-pill text-bg-secondary text-decoration-none fs-6 fw-normal">
		<i class="bi bi-tag me-1"></i>{{ tag }}
	</a>
	{%- endfor %}
</div>
